In [1]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_excel('/Users/mac/Downloads/2.xlsx', skiprows=2)

In [ ]:
df

,№ сатр,Но[ия,Мактаб,Ному насаби хатмкунанда,Силсила ва раrами ша[одатнома
0,1,Исмоили Сомони,Мактаби миена (пурра) №1,Абдулазиззода Шахзода Илхом,Т-АТУ №1360800
1,2,Исмоили Сомони,Мактаби миена (пурра) №1,Азими Хатича Оятулло,Т-АТУ №1360801
2,3,Исмоили Сомони,Мактаби миена (пурра) №1,Алиева Субщинав Бахтиёровна,Т-АТУ №1360802
3,4,Исмоили Сомони,Мактаби миена (пурра) №1,Ащмадзода Мафтуна Фирузчон,Т-АТУ №1360804
4,5,Исмоили Сомони,Мактаби миена (пурра) №1,Аъхзода Илёс Ибодил,Т-АТУ №1360803
...,...,...,...,...,...
13323,13324,Сино,Мактаб-интернати тамоюли варзишии ба номи И.Ха...,Файзов Мухаммад,Т-АТУ №1402674
13324,13325,Сино,Мактаб-интернати тамоюли варзишии ба номи И.Ха...,Хусейнов Ахмадчон,Т-АТУ №1402675
13325,13326,Сино,Мактаб-интернати тамоюли варзишии ба номи И.Ха...,Хукуматов Ёсин,Т-АТУ №1402676
13326,13327,Сино,Мактаб-интернати тамоюли варзишии ба номи И.Ха...,Шахриёри Чума,Т-АТУ №1402677
13327,13328,Сино,Мактаб-интернати тамоюли варзишии ба номи И.Ха...,Абдулов Кахбатулло Лутфуллоевич,Т-АТУ №1402678

In [ ]:
df = df.drop(columns=["№ сатр"])

# === 2. Переименовываем колонки ===
df = df.rename(columns={"Но[ия": "район", "Мактаб": "школа"})

# === 3. Генерируем ID для каждой уникальной школы ===
school_ids = {name: i+1 for i, name in enumerate(df["школа"].unique())}

# === 4. Заменяем названия школ на их ID ===
df["школа"] = df["школа"].map(school_ids)

In [ ]:
df

,район,школа,Ному насаби хатмкунанда,Силсила ва раrами ша[одатнома
0,Исмоили Сомони,1,Абдулазиззода Шахзода Илхом,Т-АТУ №1360800
1,Исмоили Сомони,1,Азими Хатича Оятулло,Т-АТУ №1360801
2,Исмоили Сомони,1,Алиева Субщинав Бахтиёровна,Т-АТУ №1360802
3,Исмоили Сомони,1,Ащмадзода Мафтуна Фирузчон,Т-АТУ №1360804
4,Исмоили Сомони,1,Аъхзода Илёс Ибодил,Т-АТУ №1360803
...,...,...,...,...
13323,Сино,163,Файзов Мухаммад,Т-АТУ №1402674
13324,Сино,163,Хусейнов Ахмадчон,Т-АТУ №1402675
13325,Сино,163,Хукуматов Ёсин,Т-АТУ №1402676
13326,Сино,163,Шахриёри Чума,Т-АТУ №1402677
13327,Сино,163,Абдулов Кахбатулло Лутфуллоевич,Т-АТУ №1402678

In [ ]:
df = df[['район', 'школа']]

In [ ]:
df

                район  школа
0      Исмоили Сомони      1
1      Исмоили Сомони      1
2      Исмоили Сомони      1
3      Исмоили Сомони      1
4      Исмоили Сомони      1
...               ...    ...
13323            Сино    163
13324            Сино    163
13325            Сино    163
13326            Сино    163
13327            Сино    163

[13328 rows x 2 columns]

In [ ]:
df['район'].value_counts()

район
Сино              5484
Фирдавси          3550
Шохмансур         2265
Исмоили Сомони    2029
Name: count, dtype: int64

In [ ]:
уникальные_школы = df['школа'].nunique()
print(уникальные_школы)

163

In [ ]:
df.

                район  школа
0      Исмоили Сомони      1
1      Исмоили Сомони      1
2      Исмоили Сомони      1
3      Исмоили Сомони      1
4      Исмоили Сомони      1
...               ...    ...
13323            Сино    163
13324            Сино    163
13325            Сино    163
13326            Сино    163
13327            Сино    163

[13328 rows x 2 columns]

In [ ]:
количество_школ = df.groupby('район')['школа'].nunique()

In [ ]:
количество_школ

район
Исмоили Сомони    28
Сино              62
Фирдавси          41
Шохмансур         33
Name: школа, dtype: int64

In [ ]:
import numpy as np
import pandas as pd

# ==== Факторы по районам (из Word-таблиц) ====
region_factors = {
    'Сино': {
        'Вакантные часы района': 540,
        'Доля учителей с высшим образованием': 0.88,
        'Доля учителей с неполным высшим': 0.07,
        'Доля женщин-учителей': 0.80,
        'Доля непедагогов': 0.01,
        'Количество учителей в районе': 5484
    },
    'Фирдавси': {
        'Вакантные часы района': 120,
        'Доля учителей с высшим образованием': 0.82,
        'Доля учителей с неполным высшим': 0.10,
        'Доля женщин-учителей': 0.77,
        'Доля непедагогов': 0.006,
        'Количество учителей в районе': 3550
    },
    'Шохмансур': {
        'Вакантные часы района': 263,
        'Доля учителей с высшим образованием': 0.83,
        'Доля учителей с неполным высшим': 0.08,
        'Доля женщин-учителей': 0.79,
        'Доля непедагогов': 0.007,
        'Количество учителей в районе': 2265
    },
    'Исмоили Сомони': {
        'Вакантные часы района': 0,
        'Доля учителей с высшим образованием': 0.85,
        'Доля учителей с неполным высшим': 0.12,
        'Доля женщин-учителей': 0.75,
        'Доля непедагогов': 0.004,
        'Количество учителей в районе': 2029
    }
}

# ==== Количество школ по районам (сумма = 163) ====
schools_per_region = {
    'Сино': 62,
    'Фирдавси': 41,
    'Шохмансур': 33,
    'Исмоили Сомони': 28
}

# ==== Генерация каркаса школ ====
rows = []
for region, n_schools in schools_per_region.items():
    vals = region_factors[region]
    
    # распределяем учителей и вакантные часы по школам
    teachers_dist = np.random.multinomial(vals['Количество учителей в районе'], [1/n_schools]*n_schools)
    vacant_dist = np.random.multinomial(vals['Вакантные часы района'], [1/n_schools]*n_schools)
    
    for sid in range(n_schools):
        rows.append({
            'Район': region,
            'ID школы': f"{region}_{sid+1}",
            'Учителя_в_школе': teachers_dist[sid],
            'Вакантные часы (школы)': vacant_dist[sid],
            # варьируем кадровые показатели вокруг районного среднего
            'Доля учителей с высшим образованием': np.clip(np.random.normal(vals['Доля учителей с высшим образованием'], 0.03), 0, 1),
            'Доля учителей с неполным высшим': np.clip(np.random.normal(vals['Доля учителей с неполным высшим'], 0.02), 0, 1),
            'Доля женщин-учителей': np.clip(np.random.normal(vals['Доля женщин-учителей'], 0.05), 0, 1),
            'Доля непедагогов': np.clip(np.random.normal(vals['Доля непедагогов'], 0.003), 0, 1),
            'Нагрузка на учителя': np.random.normal(18, 2)
        })

df_schools = pd.DataFrame(rows)

# ==== Доля вакантных часов на уровне школы ====
df_schools['Доля вакантных часов'] = df_schools['Вакантные часы (школы)'] / df_schools['Учителя_в_школе'].replace(0,1)

# ==== Средние значения предметов по районам ====
subject_means = {
    'Исмоили Сомони': {
        'Английский язык': 7.19, 'Русский язык': 7.15,
        'Математика': 6.85, 'Химия': 6.80, 'Биология': 6.75, 'Физика': 6.70
    },
    'Сино': {
        'Английский язык': 6.80, 'Русский язык': 6.75,
        'Математика': 7.01, 'Химия': 7.18, 'Биология': 7.05, 'Физика': 7.10
    },
    'Фирдавси': {
        'Английский язык': 6.85, 'Русский язык': 6.80,
        'Математика': 6.90, 'Химия': 7.10, 'Биология': 7.01, 'Физика': 6.95
    },
    'Шохмансур': {
        'Английский язык': 6.70, 'Русский язык': 6.65,
        'Математика': 6.80, 'Химия': 7.00, 'Биология': 6.95, 'Физика': 7.09
    }
}

# ==== Генерация предметов с округлением ====
for subj in ['Английский язык','Русский язык','Математика','Химия','Биология','Физика']:
    df_schools[subj] = df_schools.apply(
        lambda row: np.round(np.random.normal(subject_means[row['Район']][subj], 0.1), 3),
        axis=1
    )

# ==== Профиль школы ====
stem_mean = df_schools[['Математика','Физика','Химия']].mean(axis=1)
hum_mean = df_schools[['Английский язык','Русский язык']].mean(axis=1)
df_schools['Профиль школы'] = np.where(
    abs(stem_mean - hum_mean) < 0.5, 'Сбалансированный профиль',
    np.where(stem_mean > hum_mean, 'Технический профиль', 'Гуманитарный профиль')
)

# ==== Качество кадров ====
df_schools['Качество кадров'] = pd.cut(
    df_schools['Доля учителей с высшим образованием'],
    bins=[0, 0.7, 0.85, 1],
    labels=['Низкое','Среднее','Высокое']
)

# ==== Финальный порядок колонок ====
ordered_cols = [
    'ID школы','Район',
    'Английский язык','Русский язык','Математика','Химия','Биология','Физика',
    'Учителя_в_школе','Вакантные часы (школы)','Доля вакантных часов',
    'Доля учителей с высшим образованием','Доля учителей с неполным высшим',
    'Доля женщин-учителей','Доля непедагогов',
    'Нагрузка на учителя','Профиль школы','Качество кадров'
]

df_final = df_schools[ordered_cols]

In [ ]:
df_final

,ID школы,Район,Английский язык,Русский язык,Математика,Химия,Биология,Физика,Учителя_в_школе,Вакантные часы (школы),Доля вакантных часов,Доля учителей с высшим образованием,Доля учителей с неполным высшим,Доля женщин-учителей,Доля непедагогов,Нагрузка на учителя,Профиль школы,Качество кадров
0,Сино_1,Сино,6.808,6.683,6.949,7.005,6.957,7.143,80,10,0.125000,0.952088,0.068560,0.781885,0.001909,14.773638,Сбалансированный профиль,Высокое
1,Сино_2,Сино,6.936,6.704,7.158,7.239,6.959,6.977,84,5,0.059524,0.883163,0.046549,0.860598,0.010809,15.669851,Сбалансированный профиль,Высокое
2,Сино_3,Сино,6.847,6.748,7.099,7.203,7.026,6.971,84,9,0.107143,0.908647,0.101261,0.876926,0.011079,19.485785,Сбалансированный профиль,Высокое
3,Сино_4,Сино,6.739,6.637,6.959,7.132,6.983,7.155,90,5,0.055556,0.876603,0.069263,0.813546,0.011248,17.074611,Сбалансированный профиль,Высокое
4,Сино_5,Сино,6.763,6.789,6.909,7.087,7.042,7.068,87,9,0.103448,0.899389,0.066626,0.780183,0.003291,21.289458,Сбалансированный профиль,Высокое
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159,Исмоили Сомони_24,Исмоили Сомони,7.121,6.954,6.793,6.545,6.642,6.708,66,0,0.000000,0.845159,0.110726,0.774597,0.002431,20.019088,Сбалансированный профиль,Среднее
160,Исмоили Сомони_25,Исмоили Сомони,7.219,6.929,6.859,6.819,7.037,6.633,86,0,0.000000,0.869852,0.148357,0.736178,0.009225,19.365870,Сбалансированный профиль,Высокое
161,Исмоили Сомони_26,Исмоили Сомони,7.187,7.073,6.981,6.894,6.637,6.803,59,0,0.000000,0.835761,0.089707,0.637797,0.001968,16.144755,Сбалансированный профиль,Среднее
162,Исмоили Сомони_27,Исмоили Сомони,7.197,7.141,6.818,6.840,6.876,6.836,86,0,0.000000,0.868757,0.115039,0.795396,0.001917,14.563293,Сбалансированный профиль,Высокое
163,Исмоили Сомони_28,Исмоили Сомони,7.331,7.039,6.788,6.719,6.708,6.756,78,0,0.000000,0.875832,0.118110,0.676068,0.000209,19.045067,Сбалансированный профиль,Высокое

In [ ]:
df_final.drop(columns=['Качество кадров', 'Нагрузка на учителя', 'Учителя_в_школе'], inplace=True)

/var/folders/c1/14lswbr93s7bjydxm5x8g7mm0000gn/T/ipykernel_27201/1660157375.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final.drop(columns=['Качество кадров', 'Нагрузка на учителя', 'Учителя_в_школе'], inplace=True)

In [ ]:
df_final

,ID школы,Район,Английский язык,Русский язык,Математика,Химия,Биология,Физика,Вакантные часы (школы),Доля вакантных часов,Доля учителей с высшим образованием,Доля учителей с неполным высшим,Доля женщин-учителей,Доля непедагогов,Профиль школы
0,Сино_1,Сино,6.808,6.683,6.949,7.005,6.957,7.143,10,0.125000,0.952088,0.068560,0.781885,0.001909,Сбалансированный профиль
1,Сино_2,Сино,6.936,6.704,7.158,7.239,6.959,6.977,5,0.059524,0.883163,0.046549,0.860598,0.010809,Сбалансированный профиль
2,Сино_3,Сино,6.847,6.748,7.099,7.203,7.026,6.971,9,0.107143,0.908647,0.101261,0.876926,0.011079,Сбалансированный профиль
3,Сино_4,Сино,6.739,6.637,6.959,7.132,6.983,7.155,5,0.055556,0.876603,0.069263,0.813546,0.011248,Сбалансированный профиль
4,Сино_5,Сино,6.763,6.789,6.909,7.087,7.042,7.068,9,0.103448,0.899389,0.066626,0.780183,0.003291,Сбалансированный профиль
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159,Исмоили Сомони_24,Исмоили Сомони,7.121,6.954,6.793,6.545,6.642,6.708,0,0.000000,0.845159,0.110726,0.774597,0.002431,Сбалансированный профиль
160,Исмоили Сомони_25,Исмоили Сомони,7.219,6.929,6.859,6.819,7.037,6.633,0,0.000000,0.869852,0.148357,0.736178,0.009225,Сбалансированный профиль
161,Исмоили Сомони_26,Исмоили Сомони,7.187,7.073,6.981,6.894,6.637,6.803,0,0.000000,0.835761,0.089707,0.637797,0.001968,Сбалансированный профиль
162,Исмоили Сомони_27,Исмоили Сомони,7.197,7.141,6.818,6.840,6.876,6.836,0,0.000000,0.868757,0.115039,0.795396,0.001917,Сбалансированный профиль
163,Исмоили Сомони_28,Исмоили Сомони,7.331,7.039,6.788,6.719,6.708,6.756,0,0.000000,0.875832,0.118110,0.676068,0.000209,Сбалансированный профиль

In [ ]:
df_final['Профиль школы'] = df_final['Профиль школы'].replace({
    'STEM-ориентированная': 'Технический'
})

/var/folders/c1/14lswbr93s7bjydxm5x8g7mm0000gn/T/ipykernel_27201/1284561853.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['Профиль школы'] = df_final['Профиль школы'].replace({

In [ ]:
df_final

,ID школы,Район,Английский язык,Русский язык,Математика,Химия,Биология,Физика,Вакантные часы (школы),Доля вакантных часов,Доля учителей с высшим образованием,Доля учителей с неполным высшим,Доля женщин-учителей,Доля непедагогов,Профиль школы
0,Сино_1,Сино,6.808,6.683,6.949,7.005,6.957,7.143,10,0.125000,0.952088,0.068560,0.781885,0.001909,Сбалансированный профиль
1,Сино_2,Сино,6.936,6.704,7.158,7.239,6.959,6.977,5,0.059524,0.883163,0.046549,0.860598,0.010809,Сбалансированный профиль
2,Сино_3,Сино,6.847,6.748,7.099,7.203,7.026,6.971,9,0.107143,0.908647,0.101261,0.876926,0.011079,Сбалансированный профиль
3,Сино_4,Сино,6.739,6.637,6.959,7.132,6.983,7.155,5,0.055556,0.876603,0.069263,0.813546,0.011248,Сбалансированный профиль
4,Сино_5,Сино,6.763,6.789,6.909,7.087,7.042,7.068,9,0.103448,0.899389,0.066626,0.780183,0.003291,Сбалансированный профиль
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159,Исмоили Сомони_24,Исмоили Сомони,7.121,6.954,6.793,6.545,6.642,6.708,0,0.000000,0.845159,0.110726,0.774597,0.002431,Сбалансированный профиль
160,Исмоили Сомони_25,Исмоили Сомони,7.219,6.929,6.859,6.819,7.037,6.633,0,0.000000,0.869852,0.148357,0.736178,0.009225,Сбалансированный профиль
161,Исмоили Сомони_26,Исмоили Сомони,7.187,7.073,6.981,6.894,6.637,6.803,0,0.000000,0.835761,0.089707,0.637797,0.001968,Сбалансированный профиль
162,Исмоили Сомони_27,Исмоили Сомони,7.197,7.141,6.818,6.840,6.876,6.836,0,0.000000,0.868757,0.115039,0.795396,0.001917,Сбалансированный профиль
163,Исмоили Сомони_28,Исмоили Сомони,7.331,7.039,6.788,6.719,6.708,6.756,0,0.000000,0.875832,0.118110,0.676068,0.000209,Сбалансированный профиль

In [ ]:
df_final.to_csv('dushanbe_schools_24_25.csv', index=False)

In [3]:
df = pd.read_csv('dushanbe_schools_24_25.csv')

In [4]:
print(df.head())

  ID школы Район  Английский язык  Русский язык  Математика  Химия  Биология  \
0   Сино_1  Сино            6.808         6.683       6.949  7.005     6.957
1   Сино_2  Сино            6.936         6.704       7.158  7.239     6.959
2   Сино_3  Сино            6.847         6.748       7.099  7.203     7.026
3   Сино_4  Сино            6.739         6.637       6.959  7.132     6.983
4   Сино_5  Сино            6.763         6.789       6.909  7.087     7.042

   Физика  Вакантные часы (школы)  Доля вакантных часов  \
0   7.143                      10              0.125000
1   6.977                       5              0.059524
2   6.971                       9              0.107143
3   7.155                       5              0.055556
4   7.068                       9              0.103448

   Доля учителей с высшим образованием  Доля учителей с неполным высшим  \
0                             0.952088                         0.068560
1                             0.883163                         0.046549
2                             0.908647                         0.101261
3                             0.876603                         0.069263
4                             0.899389                         0.066626

   Доля женщин-учителей  Доля непедагогов             Профиль школы
0              0.781885          0.001909  Сбалансированный профиль
1              0.860598          0.010809  Сбалансированный профиль
2              0.876926          0.011079  Сбалансированный профиль
3              0.813546          0.011248  Сбалансированный профиль
4              0.780183          0.003291  Сбалансированный профиль