In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/Users/mac/Downloads/Coffe_shop_cleaned.csv')

In [3]:
df

,hour_of_day,cash_type,money,coffee_name,Time_of_Day,Weekday,Month_name,Weekdaysort,Monthsort,Date,Time,purchase_level
0,10.0,card,38.70,Latte,Morning,Fri,Mar,5.0,3.0,2024-03-01,10:15:50.520000,high
1,12.0,card,38.70,Hot Chocolate,Afternoon,Fri,Mar,5.0,3.0,2024-03-01,12:19:22.539000,high
2,12.0,card,38.70,Hot Chocolate,Afternoon,Fri,Mar,5.0,3.0,2024-03-01,12:20:18.089000,high
3,13.0,card,28.90,Americano,Afternoon,Fri,Mar,5.0,3.0,2024-03-01,13:46:33.006000,low
4,13.0,card,38.70,Latte,Afternoon,Fri,Mar,5.0,3.0,2024-03-01,13:48:14.626000,high
...,...,...,...,...,...,...,...,...,...,...,...,...
3467,10.0,card,35.76,Cappuccino,Morning,Sun,Mar,7.0,3.0,2025-03-23,10:34:54.894000,high
3468,14.0,card,35.76,Cocoa,Afternoon,Sun,Mar,7.0,3.0,2025-03-23,14:43:37.362000,high
3469,14.0,card,35.76,Cocoa,Afternoon,Sun,Mar,7.0,3.0,2025-03-23,14:44:16.864000,high
3470,15.0,card,25.96,Americano,Afternoon,Sun,Mar,7.0,3.0,2025-03-23,15:47:28.723000,low
3471,18.0,card,35.76,Latte,Night,Sun,Mar,7.0,3.0,2025-03-23,18:11:38.635000,high

In [4]:
# Предположим, твой DataFrame называется df
df = df[['Time_of_Day', 'coffee_name', 'money', 'Weekday', 'Month_name', 'Date', 'purchase_level', 'Weekdaysort', 'Monthsort']]

In [5]:
df.to_csv('cafe_shop.csv', index=False)

In [6]:
print(df.head())

  Time_of_Day    coffee_name  money Weekday Month_name        Date  \
0     Morning          Latte   38.7     Fri        Mar  2024-03-01
1   Afternoon  Hot Chocolate   38.7     Fri        Mar  2024-03-01
2   Afternoon  Hot Chocolate   38.7     Fri        Mar  2024-03-01
3   Afternoon      Americano   28.9     Fri        Mar  2024-03-01
4   Afternoon          Latte   38.7     Fri        Mar  2024-03-01

  purchase_level  Weekdaysort  Monthsort
0           high          5.0        3.0
1           high          5.0        3.0
2           high          5.0        3.0
3            low          5.0        3.0
4           high          5.0        3.0